@import "./../index.scss";
.BackDrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  @include center-content;
  background-color: transparentize($color: $bgPrimary, $amount: 0.1);
  .helpContainer {
    @include border-standard;
    padding: 25px;
    width: 80vw;
    height: 80vh;
    position: relative;
    background-color: $bgPrimary;
    @include center-content;
    justify-content: flex-start;
    overflow-y: auto;
    & > div,
    .HelpNote > div {
      margin-bottom: 10px;
    }
    .closeCross {
      @include button-click;
      background: url(./../assets/cross.png);
      background-size: contain;
      width: 50px;
      height: 50px;
      position: fixed;
      top: calc(10vh - 75px);
      left: calc(90vw + 25px);
    }
  }
  .helpHeader {
    font-size: 60px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 30px;
  }
  .HelpNote {
    font-size: 30px;
    color: $light;
    width: 100%;
  }
  .red {
    color: red;
  }
  .ImageContainer {
    @include padding;
    @include border-standard;
    @include center-content;
    display: inline-flex;
    border-color: $primary;
    margin: 30px;
    max-width: 40%;
    position: relative;
    justify-content: space-between;
    .Image {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      display: block;
    }
    .Label {
      font-size: 24px;
      color: $primary;
      text-align: center;
    }
  }
  .insert {
    display: flex;
    justify-content: space-around;
  }
}
