@import "./../index.scss";

.CryptName {
  font-size: 60px;
  font-weight: bold;
  animation: shadow 1s ease-in-out infinite alternate;
  position: fixed;
  top: 24px;
  color: $primary;
}
@keyframes shadow {
  from {
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em floralwhite;
  }
  to {
    text-shadow: 1px 1px 2px floralwhite, 0 0 1em orange, 0 0 0.2em black;
  }
}
.CryptShifr {
  @extend .CryptName;
  left: calc(50vw - 192px);
}

.CryptAuthor {
  color: $primary;

  font-size: 14px;
  font-weight: 400;
  position: fixed;
  top: calc(100vh - 40px);
  left: calc(50vw - 175px);
  max-width: 350px;
  text-align: center;
}
