@import "./../index.scss";

.TablePreferences {
  background-color: rgb(172, 162, 117);
  height: calc(15% - 12px);
  width: 417px;
  @include border-standard;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 15px;
  box-sizing: border-box;
  @include center-content;
  position: relative;
}
.PrefButton {
  cursor: pointer;
  margin: 2px;
  width: 300px;
  height: 60%;
  box-sizing: border-box;
  padding: 10px;
  @include center-content;
  font-size: 20px;
  color: $light;
  background-color: $primary;
  @include border-standard;
  @include button-click;
}
