$bgPrimary: #343a40;
$bgPrimaryLight: #546068;
$bgPrimaryLight2: #88a0a8;
$primary: orange;
$primaryDark: #865122;
$light: floralwhite;
$alert: rgb(189, 28, 28);

body,
html {
  padding: 0;
  margin: 0;
  background-color: $bgPrimary;
  overflow: auto;
  font-family: "Comic Sans MS Bold", arial;
}
body {
  transform: scale3d(0.66);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: $bgPrimaryLight2;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin header-big {
  font: {
    size: 100px;
    weight: bold;
    family: fantasy;
  }
}
@mixin text-standard($size) {
  color: $primary;
  font: {
    size: $size;
    weight: normal;
    family: sans-serif;
  }
}
@mixin border-standard {
  border: 4px solid $primaryDark;
  border-radius: 20px;
}
@mixin padding {
  padding: 14px;
}
@mixin button-click {
  &:hover {
    transform-origin: center;
    transform: scale(1.03);
    opacity: 0.9;
  }
  &:active {
    transform-origin: center;
    transform: scale(0.97);
  }
}
.MuiTypography-root {
  font-family: "Comic Sans MS Bold", arial !important;
}

@font-face {
  font-family: "Comic Sans MS Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Comic Sans MS Bold"), local("ComicSansMS-Bold"),
    url(https://allfont.es/cache/fonts/comic-sans-ms-bold_a1b80394f5a8455df4c4236b2f87345d.woff) format("woff"),
    url(https://allfont.es/cache/fonts/comic-sans-ms-bold_a1b80394f5a8455df4c4236b2f87345d.ttf) format("truetype");
}
@font-face {
  font-family: "Comic Sans MS  Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Comic Sans MS  Bold"), local("ComicSansMS-Bold"),
    url(https://allfont.es/cache/fonts/comic-sans-ms-bold_a1b80394f5a8455df4c4236b2f87345d.woff) format("woff"),
    url(https://allfont.es/cache/fonts/comic-sans-ms-bold_a1b80394f5a8455df4c4236b2f87345d.ttf) format("truetype");
}
